body {
  margin: 0;
  background-size: 100%;
  background-image: url('./assets/background.jpg');
}

.navigation{
 background-color: black;
 text-align: center;
 margin-top: 1px;
 margin-bottom: 1px;
 padding-bottom: 5px;
}

.navigation button{
  margin-right: 50px;
  }

  .hotClick{
    font-family: TheGodfather;
    letter-spacing: 5px;
    font-size: 40px;
    font-weight: lighter;
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 24px 0px #751114;
  }

  .hotClick:active{
    transform: translateY(1px);
  }

  .hotClick img{
    height: 30px;
    width: auto;
    margin-right: 3px;
  }

  .regClick{
    background-color: black;
    box-shadow: 2px 3px 24px -7px white;
    color: white;
    font-family: 'Pacifico';
    letter-spacing: 2px;
    font-size: 20px;
    border-radius: 5px;
  }

  .regClick:active{
    transform: translateY(1px);
  }

  .App h2{
    background-color: black;
    text-align: center;
    font-family: 'Rubik Vinyl';
    color: white;
    

  }

  .meme{
    text-align: center;
    align-items: center;
    font-family: 'Rock Salt';
    color: white;
    box-shadow: 2px 3px 24px -7px white;
    margin: 80px 200px 80px 200px;
    padding: 10px 30px 10px 30px;
  }

  .meme button{
    margin-right: 20px;
    margin-top: 20px;
  }

  .meme button:active{
    transform: translateY(1px);
  }

  .meme button img{
    height: 30px;
    width: auto;
  }

.navigation button {
  cursor: pointer
}

.welcome a{
  text-decoration: none; 
  font-family: 'Press Start 2P';
  color: white;
  box-shadow: 2px 3px 24px -7px white;
  font-size: 15px;
}
.welcome{
  background-color: black;
  box-shadow: 2px 3px 24px -7px white;
  border-radius: 5px;
  padding-top: 5px;
}
.welcome:active{
  transform: translateY(1px);
}

.active{
  background-color: #751114;
}